ShazamClient/ShazamClient/Connected Services/SoapService2/TrackSearchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchResult" type="tns:TrackForValidate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TrackForValidate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Subtitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Artists" type="tns:ArrayOfArtist" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArtist">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Artist" nillable="true" type="tns:Artist" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Artist">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adamid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Avatar" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Proba">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProbaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProbaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchSoapIn">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="SearchSoapOut">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="ProbaSoapIn">
    <wsdl:part name="parameters" element="tns:Proba" />
  </wsdl:message>
  <wsdl:message name="ProbaSoapOut">
    <wsdl:part name="parameters" element="tns:ProbaResponse" />
  </wsdl:message>
  <wsdl:portType name="TrackSearchServiceSoap">
    <wsdl:operation name="Search">
      <wsdl:input message="tns:SearchSoapIn" />
      <wsdl:output message="tns:SearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Proba">
      <wsdl:input message="tns:ProbaSoapIn" />
      <wsdl:output message="tns:ProbaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TrackSearchServiceSoap" type="tns:TrackSearchServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Proba">
      <soap:operation soapAction="http://tempuri.org/Proba" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TrackSearchServiceSoap12" type="tns:TrackSearchServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Proba">
      <soap12:operation soapAction="http://tempuri.org/Proba" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrackSearchService">
    <wsdl:port name="TrackSearchServiceSoap" binding="tns:TrackSearchServiceSoap">
      <soap:address location="http://localhost:59069/TrackSearchService.asmx" />
    </wsdl:port>
    <wsdl:port name="TrackSearchServiceSoap12" binding="tns:TrackSearchServiceSoap12">
      <soap12:address location="http://localhost:59069/TrackSearchService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>